{% extends "entity/change_word_base.html" %}
{% block entity-title %}Выражения{% endblock %}
{% block add-title %}Добавить выражения{% endblock %}
{% block select-name %}sentences{% endblock %}
{% block options %}
	{% for s in word.sentences.all %}
		{% if word.user == s.user %}
			<option value="{{s.id}}" selected="1">{{s}}</option>
		{% endif %} 
	{% endfor %}
{% endblock %}
{% block save-link %}EWT.ajax.post('{{ word.ajax_change_sentences }}'){% endblock %}
{% block lookup-link %}{% url 'ajax_change_get_entities' 'sentences' %}{% endblock %}

