{% extends "entity/change_word_base.html" %}
{% block entity-title %}Тэги{% endblock %}
{% block add-title %}Добавить тэги{% endblock %}
{% block select-name %}groups{% endblock %}
{% block options %}
	{% for g in word.groups.all %}
		{% ifequal word.user g.user %}
			<option value="{{g.id}}" selected="1">{{g}}</option>
		{% endifequal %} 
	{% endfor %}
{% endblock %}
{% block save-link %}EWT.ajax.post('{{ word.ajax_change_groups }}'){% endblock %}
{% block lookup-link %}{% url ajax_change_get_entities 'groups' %}{% endblock %}
