<h2 class="partition">{% block title %}{% endblock %}</h2>
<form method="post" action="{% block export-url %}{% endblock %}">
	{% for field in form %}
    	<div class="fieldWrapper">
        	{{ field.label_tag }}<span class="form-colon">: </span>{{ field }}
			{{ field.errors }}
    	</div>
		<script>
			$(document).ready(function(){
				$("#id_from_date", EWT.utils.getActiveTab()).datepicker({dateFormat: 'yy-mm-dd'});
				$("#id_to_date", EWT.utils.getActiveTab()).datepicker({dateFormat: 'yy-mm-dd'});
			});
		</script>
	{% endfor %}
    <div class="fieldWrapper">
    	<label>&nbsp;</label>
		<span class="form-colon">&nbsp;</span>
		<button type="submit" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"><span class="ui-button-text">получить</span></a>		
	</div>
	<div class="clear"></div>
</form>