# Database settings
DB_NAME=etrainer_golonru
DB_USER=etrainer_golonru
DB_PASSWORD=your_secure_password_here

# Email settings
EMAIL_HOST=smtp.hostfabrica.ru
EMAIL_PORT=25
EMAIL_HOST_USER=admin@golonikum.net
EMAIL_HOST_PASSWORD=your_secure_email_password_here
SERVER_EMAIL=smtp.hostfabrica.ru

# Admin settings
ADMIN_EMAIL=admin@golonikum.net

# Secret key
SECRET_KEY=your_secret_key_here

# Debug mode (set to False in production)
DEBUG=False
